
page-map {
	.background {
		background-image: url('../assets/bg.jpg');
	}

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}
//
    .myHead {
        // margin-top: 20px;
        margin-bottom: 30px;
        padding-top:20px;
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
	}

    // b{
         
    //         color: #fff!important;
    //          padding-top:1px;
    //          align-content: center;
		
    // }

    .myHeadSub{
        color: #fff!important;
         padding-bottom:15px;
         font-size: 20px;
    }

	a, p,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.5);
		border: medium none;

		.text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
	}

	.icon {
		padding-right: 10px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}
}
